<div class="wrapper">
  <div class="container pt-3">
    <div class="row">
      <%= render 'shared/sidebar' %>
      <div class="col-md-8 offset-lg-1 pb-5 mb-lg-2 pt-md-5 mt-n3 mt-md-0">
        <h1 class="float-left mb-5"><%= t('.title') %></h1>
        <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-warning' %>
        <table class="table">
          <tr>
            <th scope="row"><%= User.human_attribute_name(:email) %></th>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:name) %></th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:hobby) %></th>
            <td><%= current_user.hobby %></td>
          </tr>
          <tr>
            <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
            <td><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>