<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-info'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto main-nav align-items-center px-5">
        <li class="nav-item px-2">
          <%= link_to t('boards.index.title'), boards_path, class: "nav-link mt-2 text-secondary" %>
        </li>
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle mt-2 text-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle"></i>マイページ
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item px-3 mt-2 text-secondary" href="#">プロフィール</a>
              <%= link_to t('boards.bookmarks.title'), bookmarks_boards_path, class: 'text-secondary px-3 dropdown-item' %>
              <%= button_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item text-secondary btn btn-link' %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>