<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">
          <%= link_to '推しのカルテ', board_path(board), class: 'text-danger' %>
        </h4>
        <div class= "card-text mx-3 text-secondary">
          <div class="box-title"><%= Board.human_attribute_name(:name) %></div>
          <div class="box-text"><%= board.name %></div>
          <div class="box-title"><%= Board.human_attribute_name(:title) %></div>
          <div class="box-text"><%= board.title %></div>
          <div class="box-title"><%= Board.human_attribute_name(:world) %></div>
          <div class="box-text"><%= board.world %></div>
          <div class="box-title"><%= Board.human_attribute_name(:charm) %></div>
          <div class="box-text"><%= board.charm %></div>
          <div class="box-title"><%= Board.human_attribute_name(:body) %></div>
          <div class="box-text"><%= board.body %></div>
        </div>
        <%= render 'crud_menus', board: board %>
        <ul class="list-inline mt-3 text-secondary">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= board.user.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l board.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
