<div class="wrapper">
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <!-- 検索フォーム -->
        <%= render 'search_form', url: boards_path %>
      </div>
    </div>

    <div class="row">
      <div class="col text-center mb-3">
        <%= link_to t('boards.new.title'), new_board_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>

    <!-- 掲示板一覧 -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @boards.present? %>
            <%= render @boards %>
          <% else %>
          <p><%= t('.no_result') %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>